{% block head %}
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
    <div class="modal" role="dialog" id="add-modal">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Agregar turno</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            
            <form method= "POST" id="form-turno" action="crear">
            <div class="modal-body">
                {% csrf_token %}
                <div class="col-md-10 offset-md-1">
                    {% for field in form %}
                        <div style="margin-bottom:5px;">
                        {{ field.label_tag }} {{ field }}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                        {{field.errors|safe}}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn-lila" value="Aceptar" />
            </div>
            </form>
            
        </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $('#add-modal').modal('show');
        $("#id_paciente").select2({
            tags:true,
            placeholder: 'Paciente',
            allowClear: true
        });
        $("#id_odontologo").select2({
            tags:true,
            placeholder: 'Odontólogo',
            allowClear: true
        });
    </script>
{% endblock %}