{% extends "detail.html" %}

{% block detail %}
    <p><b>Nombre y apellido:</b> {{object.nombre_apellido}}</p>
    <p><b>Matricula:</b> {{object.matricula|default_if_none:'-'}}</p>
    <p><b>DNI:</b> {{object.dni|default_if_none:'-'}}</p>
    <p><b>Domicilio:</b> {{object.domicilio|default_if_none:'-'}}</p>
    <p><b>Telefono:</b> {{object.telefono|default_if_none:'-'}}</p>
    <p><b>Pacientes ({{ object.paciente_set.count }}):</b></p>
    <ul>
        {% for p in object.paciente_set.all %}
            <li>{{p}}</li>
        {% empty %}
            <p>No tiene pacientes asociados.</p>
        {% endfor %}
    </ul>
    <p><b>Obras sociales ({{ object.obras_sociales.count }}):</b></p>
    <ul>
        {% for os in object.obras_sociales.all %}
            <li>{{os}}</li>
        {% empty %}
            <p>No tiene obras sociales asociadas.</p>
        {% endfor %}
    </ul>
{% endblock %}