{% extends "base.html" %}
{% block head %}
	<title>{{ funcion }} obra social</title>
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
{% load staticfiles %}
     <div class="col-md-8 offset-md-2">
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        <form method= "POST" autocomplete="off">
            {% csrf_token %}
            <div class="card">
                <div class="card-header">Datos de la obra social</div>
                <div class="card-body">
                    {% if form.non_field_errors %}
                        <ul class="list-group" style="margin-bottom:10px;">
                        {% for error in form.non_field_errors %}
                            <li class="list-group-item list-group-item-danger">
                                {{ error|escape }}
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="form-row">
                        <div class="col-md-2 form-group">
                            {{ obra_social_form.codigo.errors }}
                            {{ obra_social_form.codigo.label_tag }} {{ obra_social_form.codigo }}
                            {% if obra_social_form.codigo.help_text %}
                                <p class="help">{{ obra_social_form.codigo.help_text|safe }}</p>
                            {% endif %}
                        </div>
                        <div class="col-md-10 form-group">
                            {{ obra_social_form.nombre.errors }}
                            {{ obra_social_form.nombre.label_tag }} {{ obra_social_form.nombre }}
                            {% if obra_social_form.nombre.help_text %}
                                <p class="help">{{ obra_social_form.nombre.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md form-group">
                            {{ obra_social_form.observaciones.errors }}
                            {{ obra_social_form.observaciones.label_tag }} {{ obra_social_form.observaciones }}
                            {% if obra_social_form.observaciones.help_text %}
                                <p class="help">{{ obra_social_form.observaciones.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md form-group">
                            <div class="custom-control custom-checkbox">
                                {{ obra_social_form.usa_bonos }}
                                <label class="custom-control-label" for="{{ obra_social_form.usa_bonos.auto_id }}">{{ obra_social_form.usa_bonos.label }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md form-group">
                            <div class="custom-control custom-checkbox">
                                {{ obra_social_form.usa_coseguro }}
                                <label class="custom-control-label" for="{{ obra_social_form.usa_coseguro.auto_id }}">{{ obra_social_form.usa_coseguro.label }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md form-group">
                            <div class="custom-control custom-checkbox">
                                {{ obra_social_form.usa_autorizacion }}
                                <label class="custom-control-label" for="{{ obra_social_form.usa_autorizacion.auto_id }}">{{ obra_social_form.usa_autorizacion.label }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md form-group" id={{obra_social_form.usa_planes.name|add:"_container"}} >
                            <div class="custom-control custom-checkbox">
                                {{ obra_social_form.usa_planes }}
                                <label class="custom-control-label" for="{{ obra_social_form.usa_planes.auto_id }}">{{ obra_social_form.usa_planes.label }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md form-group">
                            <div id="planes">
                                {{ planes_formset.management_form }}
                                {% for plan_form in planes_formset %}
                                    <div class="plan-formset form-row">
                                        {% for field in plan_form %}
                                            {% if field.field.widget.input_type is None %}
                                                <div class="col form-group">
                                                    {{ field }}
                                                </div>
                                            {% else %}
                                                {% if field.field.widget.input_type == 'checkbox' %}
                                                    <div class="col form-group" style="margin:auto;">
                                                        <div class="custom-control custom-checkbox {{field.name}}" id="{{ field.name }}">
                                                            {{ field }}
                                                            <label class="custom-control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <div class="col form-group">
                                                        {{ field }}
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                            {% if field.errors %}
                                                {% for error in field.errors %}
                                                    {{ error|escape }}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                {% if planes_formset.non_form_errors %}
                                    {% for error in planes_formset.non_form_errors %}
                                        {{ error|escape }}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <p style="text-align:center;">
            <input type="submit" name="obra_social-submit" class="btn-lila" value="Aceptar" />
        </p>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('.plan-formset').formset({
                addText: '<button class="btn-add"><i class="fa fa-plus"></i> Agregar</button>',
                deleteText: '<button class="btn-delete"><i class="fa fa-remove"></i></button>',
                prefix: "{{ planes_formset.prefix }}",
                added:mostrar_coseguro
            });

            $('#id_usa_planes').on('change',mostrar_planes);
            $('#id_usa_coseguro').on('change',mostrar_coseguro);

            mostrar_coseguro();
            mostrar_planes();
        });

        function mostrar_planes(){
            if ($('#id_usa_planes').is(":checked"))
                $('#planes').show();
            else
                $('#planes').hide();
        }

        function mostrar_coseguro(){
            $('.paga_coseguro').each(function(){
                if($('#id_usa_coseguro').is(":checked"))
                    $(this).css('display','inline-block');
                else
                    $(this).css('display','none');
            });
        }
    </script>
{% endblock %}