{% extends "base.html" %}
{% block head %}
	<title>Crear ficha</title>
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
    <form method= "POST" id="formulario" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-6 col-md-offset-3">
            {{ficha_form.as_p}}
            <div style="margin-bottom:1em">
                <label style="display:block;">Imagenes:</label>
                {{ imagenes_formset.management_form }}
                {% for imagen_form in imagenes_formset %}
                    <div class="imagenes-formset" style="margin-bottom:0.5em;height:100px;">
                        <div class="img-preview img-preview-sm" style="display:inline-block;">
                            {% if imagen_form.initial.imagen %}
                                <img name="preview" src="{{ imagen_form.initial.imagen.url }}" width="100" style="margin-right:10px;"/>
                            {% else %}
                                <img name="preview" src="/static/images/placeholder.png" width="100" style="margin-right:10px;"/>
                            {% endif %}
                        </div>      
                        <label title="Subir Imagen" for="{{imagen_form.imagen.auto_id}}" class="btn">
                            <div style="display:none;">
                                {{ imagen_form.imagen }}
                            </div>
                            Seleccionar Imagen
                        </label> 
                        {% if imagen_form.imagen.errors %}
                            {% for error in imagen_form.imagen.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
                {% if imagen_form.non_form_errors %}
                    {% for error in imagen_form.non_form_errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}
            </div>
            <p style="text-align:center;">
                <input type="submit" name="ficha-submit" class="btn" value="Aceptar" />
            </p>
        </div>
    </form>
{% endblock %}

{% block script %}
    <!-- Include formset plugin - including jQuery dependency -->
    <!--script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.js"></script>
    
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    contenedor = input.parentNode.parentNode.parentNode;
                    console.log(contenedor);
                    let div_preview = contenedor.querySelector(".img-preview");
                    console.log(div_preview);
                    let preview = div_preview.children;
                    $(preview).attr("src", e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $(".cargar_imagen").change(function() {
            readURL(this);
        });

        $('.imagenes-formset').formset({
            addText: 'Agregar Imagen',
            deleteText: 'Eliminar',
            prefix: "{{ imagenes_formset.prefix }}"
        });

        var select_paciente = document.getElementById('id_paciente');
        var select_odontologo = document.getElementById('id_odontologo');
        var select_obra_social = document.getElementById('id_obra_social');
        var select_norma_trabajo = document.getElementById('id_norma_trabajo');
        var fecha = document.getElementById("id_fecha");

        function load_complete_ficha() {
            var paciente = parseInt(select_paciente.value);
            if (isNaN(paciente) == true){
                select_odontologo.parentNode.style.display = 'none';
                removeOptions(select_odontologo);
                select_obra_social.parentNode.style.display = 'none';
                removeOptions(select_obra_social);
                select_norma_trabajo.parentNode.style.display = 'none';
                removeOptions(select_norma_trabajo);
            }
            select_paciente.addEventListener("change", cargar_odontologos);
            select_paciente.addEventListener("change", cargar_obras_sociales);
            select_odontologo.addEventListener("change", cargar_obras_sociales);
            select_obra_social.addEventListener("change", cargar_normas_trabajo);
            select_norma_trabajo.addEventListener("change", chequear_norma);
            fecha.addEventListener("change", chequear_norma);
        }
        window.addEventListener("load", load_complete_ficha, false);

        var xhttp_o = new XMLHttpRequest();
        xhttp_o.onreadystatechange = createCallback(select_odontologo);
        var xhttp_os = new XMLHttpRequest();
        xhttp_os.onreadystatechange = createCallback(select_obra_social);
        var xhttp_nt = new XMLHttpRequest();
        xhttp_nt.onreadystatechange = createCallback(select_norma_trabajo);
        var xhttp_chequear_norma = new XMLHttpRequest();
        xhttp_chequear_norma.onreadystatechange = createCallbackChequearNorma();

        function createCallbackChequearNorma() {
            console.log('callback creado para chequear norma');
            return function() {
                if (this.readyState == 4 && this.status == 200) {
                    var today = new Date();  
                    console.log(today + ": " + this.readyState + " - " + this.responseText);
                    var r = JSON.parse(this.responseText);
                    console.log(r);

                    var div_borrar = document.getElementById('mensaje_chequear_norma');
                    if (div_borrar)
                        div_borrar.parentNode.removeChild(div_borrar);
                    
                    div_mensaje = document.createElement('div');
                    div_mensaje.id = 'mensaje_chequear_norma';
                    div_mensaje.classList.add('alert');
                    div_mensaje.style = 'margin-top:5px;'
                    div_mensaje.innerHTML = '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>';
                    div_mensaje.innerHTML += '<strong id="resultado_chequear_norma"></strong>';
                    div_mensaje.innerHTML += '<label id="label_mensaje_chequear_norma"></label>';
                    var clase = '';
                    if (r.result == 'OK')
                        clase = 'alert-success';
                    else
                        clase = 'alert-danger';
                    div_mensaje.classList.add(clase);

                    select_norma_trabajo.parentElement.appendChild(div_mensaje);

                    var label_mensaje_chequear_norma = document.getElementById('label_mensaje_chequear_norma');
                    var resultado_chequear_norma = document.getElementById('resultado_chequear_norma');
                    label_mensaje_chequear_norma.innerHTML = r.message;
                    if(r.result != 'OK')
                    {
                        resultado_chequear_norma.innerHTML = r.result;
                        label_mensaje_chequear_norma.innerHTML += ' <a href="'+r.enlace+'" target="blank">VER FICHA</a>'
                    }
                }
            };
        }

        function chequear_norma(){
            var paciente = parseInt(select_paciente.value);
            var norma_trabajo = parseInt(select_norma_trabajo.value);
            console.log('chequear norma: paciente: ' + paciente + ". norma: " + norma_trabajo);
            if (isNaN(paciente) == false && isNaN(norma_trabajo) == false && fecha.value){
                xhttp_chequear_norma.open("GET", "/paciente/chequear_norma?paciente=" + paciente + "&norma_trabajo=" + norma_trabajo + "&fecha=" + fecha.value, true);
                xhttp_chequear_norma.send();
            }
        }
        
        function createCallback(select){
            console.log('callback creado para: ' + select.id);
            return function() {
                console.log(this.responseText);
                removeOptions(select);
                if (this.readyState == 4 && this.status == 200) {
                    var opt = document.createElement('option');
                    opt.appendChild(document.createTextNode('Seleccionar'));
                    opt.value = '';
                    select.appendChild(opt);
                    var arr = JSON.parse(this.responseText);
                    for (i in arr) {
                        opt = document.createElement('option');
                        opt.appendChild(document.createTextNode(arr[i].descrip));
                        opt.value = arr[i].id; 
                        select.appendChild(opt);
                    }
                    select.parentNode.style.display = 'block';
                }
            };
        }

        function cargar_odontologos(){
            console.log('cargar odontologos');
            var paciente = parseInt(select_paciente.value);
            if (isNaN(paciente) == false){
                xhttp_o.open("GET", "/odontologo/get_for_select?paciente=" + paciente, true);
                xhttp_o.send();
            }
            else{
                select_odontologo.parentNode.style.display = 'none';
                removeOptions(select_odontologo);
                select_obra_social.parentNode.style.display = 'none';
                removeOptions(select_obra_social);
                select_norma_trabajo.parentNode.style.display = 'none';
                removeOptions(select_norma_trabajo);
            }
        }

        function cargar_obras_sociales(){
            console.log('cargar obras sociales');
            var paciente = parseInt(select_paciente.value);
            var odontologo = parseInt(select_odontologo.value);
            if (isNaN(odontologo) == false && isNaN(paciente) == false){
                xhttp_os.open("GET", "/obra_social/get_for_select?odontologo=" + odontologo + "&paciente="+ paciente, true);
                xhttp_os.send();
            }
            else{
                select_obra_social.parentNode.style.display = 'none';
                removeOptions(select_obra_social);
                select_norma_trabajo.parentNode.style.display = 'none';
                removeOptions(select_norma_trabajo);
            }
        }

        function cargar_normas_trabajo(){
            var obra_social = parseInt(select_obra_social.value);
            console.log('cargar normas de trabajo de la obra social ' + obra_social);
            if (isNaN(obra_social) == false){
                xhttp_nt.open("GET", "/norma_trabajo/get_for_select?obra_social=" + obra_social, true);
                xhttp_nt.send();
            }
            else{
                select_norma_trabajo.parentNode.style.display = 'none';
                removeOptions(select_norma_trabajo);
            }
        }

        function removeOptions(selectbox){
            var i;
            for(i = selectbox.options.length - 1 ; i >= 0 ; i--)
            {
                selectbox.remove(i);
            }
        }
    </script>
{% endblock %}
