{% extends "base.html" %}
{% block head %}
	<title>{{ funcion }} {{ficha_form.instance.model_name_lower}}</title>
{% endblock %}

{% block style %}
    <style>
        label.nueva_consulta{
            padding-bottom:10px;
            font-size:15px;
            font-weight:bold;
            margin-left:13px;
            color:#413e66;
        }

        .div_preview{
            background-color:#f0eff5;
            padding:10px 5px;
            position:relative;
            /*border:1px solid #413e66;*/
            border-radius:.25rem;
        }
        .label_preview{
            padding-top:20px;
        }
        .label_preview.descargable:hover{
            color:#1bb1dc;
        }
        .img_preview{
            padding-top:21px;
            width:150px;
        }
        .descargable {
            cursor:pointer;
        }
        .descargable:hover {
            cursor:pointer;
            opacity: 0.5;
            filter: alpha(opacity=50); /* For IE8 and earlier */
        }
        .close {
            position: absolute;
            top: .25rem;
            right: .25rem;
        }
        .add-photo {
            opacity: 0.5;
            filter: alpha(opacity=50); /* For IE8 and earlier */
        }
        .add-photo:hover {
            opacity: 0.3;
            filter: alpha(opacity=100); /* For IE8 and earlier */
        }
        button.accordion {
            background-color:transparent;
            border-radius: .25rem;
            color: #413e66;
            cursor: pointer;
            padding: 10px 18px 5px 18px;
            width: 100%;
            border: 1px solid;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.2s;
            font-weight:bold;
            border-color:#413e66;
        }

        button.accordion:hover {
            background-color: #f5f8fd;
            color:#1bb1dc;
        }

        button.accordion:hover:after{
            color:#1bb1dc;
        }

        button.accordion.active{
            border-bottom-left-radius:0;
            border-bottom-right-radius:0;
            border-bottom:0;
        }

        button.accordion:after {
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            content: "\f103";
            font-size: 20px;
            color: #413e66;
            float: right;
            -webkit-font-smoothing: antialiased;
            text-rendering: auto;
        }

        button.accordion.active:after {
            content: "\f068";
        }

        div.panel {
            /*background-color: #f5f8fd;*/
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            padding:5px;
            border-bottom: 1px solid;
            border-left: 1px solid;
            border-right: 1px solid;
            border-bottom-left-radius:.25rem;
            border-bottom-right-radius:.25rem;
            border-color:#413e66;
        }

        div.panel.show {
            opacity: 1;
            max-height:fit-content;
            transition: 0.2s;
        }

        .div_nueva_consulta{
            padding:10px 5px;
            border: 1px solid #413e66;
            border-radius:.25rem;
        }
    </style>
{% endblock %}

{% block content %}
    {% load staticfiles %}
    <div class="col-md-8 offset-md-2">
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        <form method= "POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in ficha_form %}
                <p>
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </p>
            {% endfor %}
            <div style="margin-bottom:1em;" id="div_imagenes">
                <button type="button" class="accordion">Imágenes </button>
                <div class="panel">
                {{ imagenes_formset.management_form }}
                {% for imagen_form in imagenes_formset %}
                    <div class="imagenes-formset" style="margin-bottom:0.4em;">
                        <div style="display:none;">
                            {{ imagen_form.imagen }}
                            {{ imagen_form.id_img}}
                            {% if imagen_form.initial%}
                                <input class="url" value="{{ imagen_form.initial.imagen.url }}">
                                <input class="filename" value="{{ imagen_form.initial.filename }}">
                            {% else %}
                                <input class="filename" value="">
                            {% endif %}
                        </div>
                         <div style="display:none;" class="div_preview">
                            <img class="close" src="/static/images/delete.png" onclick="eliminar(this);"/>
                            <label style="display:none;" class="label_preview" onclick="ver_archivo(this);" title="Descargar archivo"><i class="fa fa-download" style="margin-right:5px;"></i></label>
                            <img onError="errorImagen(this);" style="display:none;" class="img_preview" onclick="ver_imagen(this);" title="Ver imagen"/>
                            {{ imagen_form.descripcion }}
                        </div>
                        {% if not imagen_form.initial %}
                        <label for="{{imagen_form.imagen.auto_id}}" class="label-seleccionar" style="display:block !important;cursor:pointer;text-align:center;">
                            <!--img class="add-photo" src="{% static '/images/add_photo.png' %}" style="width:100px;" title="Agregar imagen"/-->
                            <span class="btn-lila">Agregar imagen</span>
                        </label>
                        {% endif %}
                        {% if imagen_form.imagen.errors %}
                            {% for error in imagen_form.imagen.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
                {% if imagen_form.non_form_errors %}
                    {% for error in imagen_form.non_form_errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}
                </div>
            </div>
             <div style="margin-bottom:1em">
                <label style="display:block;">Historia:</label>
                {{ consultas_formset.management_form }}
                {% for form in consultas_formset %}
                    <div class="consultas-formset" style="margin-bottom:0.5em;">
                     <div style="display:none;" id="id_consulta">
                        {{ form.id_consulta }}
                    </div>
                    {% if form.initial %}
                        <button type="button" class="accordion">Consulta del {{form.initial.fecha}}</button>
                        <div class="panel">
                    {% else %}
                        <div class="div_nueva_consulta">
                        <label class="nueva_consulta">Nueva consulta:</label>
                    {% endif%}
                        <div class="row">
                            <div class="col-md-4">
                                {{ form.fecha }}
                                {% if form.fecha.errors %}
                                    {% for error in form.fecha.errors %}
                                        {{ error|escape }}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-md-3">
                                {{ form.nro_diente }}
                                {% if form.nro_diente.errors %}
                                    {% for error in form.nro_diente.errors %}
                                        {{ error|escape }}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-md-5" >
                                {{ form.norma_trabajo }}
                                {% if form.norma_trabajo.errors %}
                                    {% for error in form.norma_trabajo.errors %}
                                        {{ error|escape }}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mensaje">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ form.detalle }}
                                {% if form.detalle.errors %}
                                    {% for error in form.detalle.errors %}
                                        {{ error|escape }}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if consultas_formset.non_form_errors %}
                    {% for error in consultas_formset.non_form_errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}
            </div>
            <p style="text-align:center;">
                <input type="submit" name="ficha-submit" class="btn-lila" value="Aceptar" />
            </p>
        </form>
    </div>
{% endblock %}

{% block script %}
    <!--script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script-->
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    
    <script>
        var select_obra_social;
        var select_plan;
        var select_paciente;

        $('document').ready(function(){
            select_obra_social = $('#id_obra_social');
            select_plan = $('#id_plan');
            select_paciente = $('#id_paciente');

            $('.imagenes-formset').formset({
                addText: '',
                deleteText: '',
                prefix: "{{ imagenes_formset.prefix }}"
            });

            $('.consultas-formset').formset({
                addText: 'Agregar consulta',
                deleteText: '',
                prefix: "{{ consultas_formset.prefix }}"
            });

            $('.imagenes-formset').each(function(){
                let filename = $(this).find('.filename').val();
                let url = $(this).find('.url').val();
                let div_preview = $(this).find('.div_preview');
                let img_preview = $(this).find('.img_preview');
                let label_preview = $(this).find('.label_preview');
                $(img_preview).show();
                $(img_preview).attr('src',url);
                if(url){
                    $(div_preview).show();
                    $(img_preview).toggleClass('descargable');
                }
            });

            $(select_obra_social).change(function() {
                cargar_planes();
            });

            let acc = $(".accordion");
            for (i = 0; i < acc.length; i++) {
                acc[i].onclick = function(){
                    this.classList.toggle("active");
                    this.nextElementSibling.classList.toggle("show");
                }
            }

            select_paciente.select2({
                tags:true,
                placeholder: 'Seleccionar paciente',
                allowClear: true
            });

            select_obra_social.select2({
                tags:true,
                placeholder: 'Seleccionar obra social',
                allowClear: true
            });

            $("#id_odontologo").select2({
                tags:true,
                placeholder: 'Seleccionar odontólogo',
                allowClear: true
            });

            select_plan.select2({
                tags:true,
                placeholder: 'Seleccionar plan',
                allowClear: true
            });
        });

        var lastJQueryTS = 0 ;

        $(".fecha-consulta").change(function(event) {              
            console.log('Fecha seleccionada: ' + this.value);           
            let send = true;
            if (typeof(event) == 'object'){
                if (event.timeStamp - lastJQueryTS < 300)
                    send = false;
                lastJQueryTS = event.timeStamp;
            }
            if (send){
                let contenedor = $(this).closest('.div_nueva_consulta');
                let select_norma_trabajo = $(contenedor).find('.select-norma-trabajo');
                let norma_trabajo = parseInt($(select_norma_trabajo).val());
                if (isNaN(norma_trabajo) == false)
                    chequear(select_norma_trabajo);
                console.log('Norma trabajo: ' + norma_trabajo);
                if(select_norma_trabajo.children('option').length == 1)
                    cargar_normas_trabajo(select_norma_trabajo);
            }
        });

        function chequear_norma(input){
            let fecha = $(input).val();
            let paciente = $(select_paciente).val();
            let contenedor = $(input).closest('.div_nueva_consulta');
            let select_norma_trabajo = $(contenedor).find('.select-norma-trabajo');
            let norma_trabajo = $(select_norma_trabajo).val();
            if (fecha && paciente && norma_trabajo)
                chequear(select_norma_trabajo);
            //cargar_normas_trabajo(select_norma_trabajo);
        }

        function cargar_normas_trabajo(select){
            let obra_social = parseInt($(select_obra_social).val());
            console.log('cargar normas de trabajo de la obra social ' + obra_social);
            $(select).empty();
            $(select).append(new Option('Seleccionar norma', ''))
            if (isNaN(obra_social) == false){
                $.getJSON("/norma_trabajo/get_for_select?obra_social=" + obra_social, function( json ) {
                    let arr = JSON.parse(JSON.stringify(json));
                    for (i in arr) {
                        $(select).append(new Option(arr[i].descrip, arr[i].id))
                    }
                    if(arr.length > 0)
                        $(select).show();
                    else
                        $(select).hide();
                });
            }
            else
                $(select).hide();
        }
        
        $(".cargar_imagen").change(function() {
            readURL(this);
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    var is_img = input.files[0]['type'].split('/')[0] === 'image';

                    let contenedor = $(input).parent().parent();
                    let div_preview = $(contenedor).find(".div_preview");
                    let img_preview = $(contenedor).find(".img_preview");
                    let label_preview = $(contenedor).find(".label_preview");
                    let img_wrp = $(contenedor).find(".img_wrp");
                    $(img_wrp).show();

                    let filename = $(contenedor).find('.filename');
                    $(filename).val(input.files[0]['name']);

                    console.log(input.files[0]['name']);

                    let label = $(contenedor).find(".label-seleccionar");
                    label.remove();

                    $(div_preview).show();
                    $(img_preview).show();
                    $(img_preview).attr("src", e.target.result);
                    agregar_imagen();
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        function eliminar(icon){
            $(icon).parent().parent().remove();
        }

        function agregar_imagen(){
            $("#div_imagenes .add-row").click();
        }

        var IsValidImage = function (url, filename, img_preview, label_preview,callback) {
            $('<img>', {
                src: url,
                error: function () {
                    callback(url, filename, img_preview, label_preview, false);
                },
                load: function () {
                    callback(url, filename, img_preview, label_preview, true);
                }
            });
        }

        var CallbackFunction = function (url, filename, img_preview, label_preview, isValid) {
            if (isValid) {
                $(label_preview).hide();
                $(img_preview).attr("src", url);
                $(img_preview).show();
            } else {
                $(img_preview).hide();
                $(label_preview).append(filename);
                $(label_preview).show();
            }
        }

        function errorImagen(image){
            console.log('error');
            $(image).hide();
            let label = $(image).parent().find('.label_preview');
            let div_preview = $(image).parent(); 
            let contenedor = $(div_preview).parent(); 
            let filename = $(contenedor).find('.filename').val();
            let url = $(contenedor).find('.url').val();

            $(label).append(filename);
            if (url)
                $(label).toggleClass('descargable');
            $(label).show();
            $(div_preview).show();
        }

        function ver_archivo(label){
            let contenedor = $(label).parent().parent();
            let url = $(contenedor).find('.url').val();
            window.open(url,'_blank');
        }

        function ver_imagen(imagen){
            let contenedor = $(imagen).parent().parent();
            let url = $(contenedor).find('.url').val();
            console.log(url);
            window.open($(imagen).attr("src"),'_blank');
        }

        function cargar_planes(){
            let obra_social = parseInt($(select_obra_social).val());
            console.log('cargar planes de la obra social ' + obra_social);
            $(select_plan).empty();
            $(select_plan).append(new Option('Seleccionar plan', ''))
            if (isNaN(obra_social) == false){
                $.getJSON("/plan/get_for_select?obra_social=" + obra_social, function( json ) {
                    let arr = JSON.parse(JSON.stringify(json));
                    for (i in arr) {
                        $(select_plan).append(new Option(arr[i].descrip, arr[i].id))
                    }
                    if (arr.length > 0)
                        $(select_plan).parent().show();
                    else
                        $(select_plan).parent().hide();
                });
            }
        }

        function chequear(select){
            let paciente = parseInt(select_paciente.val());
            let norma_trabajo = parseInt($(select).val());
            let contenedor = $(select).closest('.div_nueva_consulta');
            let fecha = $(contenedor).find('.fecha-consulta').val();
            console.log('chequear norma: paciente: ' + paciente + ". norma: " + norma_trabajo);
            let container_mensaje = $(contenedor).find('.mensaje');
            container_mensaje.html('');
            if (isNaN(paciente) == false && isNaN(norma_trabajo) == false && fecha){
                $.getJSON("/paciente/chequear_norma?paciente=" + paciente + "&norma_trabajo=" + norma_trabajo + "&fecha=" + fecha, function( json ) {
                    div_mensaje = document.createElement('div');
                    div_mensaje.id = 'mensaje_chequear_norma';
                    div_mensaje.classList.add('alert');
                    div_mensaje.style = 'margin-top:5px;margin-bottom:0px !important;'
                    div_mensaje.innerHTML = '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>';
                    div_mensaje.innerHTML += '<strong id="resultado_chequear_norma"></strong>';
                    div_mensaje.innerHTML += '<label id="label_mensaje_chequear_norma"></label>';
                    let clase = '';
                    if (json.result == 'Se puede aplicar')
                        clase = 'alert-success';
                    else
                        clase = 'alert-danger';
                    div_mensaje.classList.add(clase);

                    container_mensaje.append(div_mensaje);

                    let label_mensaje_chequear_norma = $('#label_mensaje_chequear_norma');
                    let resultado_chequear_norma = $('#resultado_chequear_norma');
                    label_mensaje_chequear_norma.append(json.message);
                    if (json.result)
                        resultado_chequear_norma.append(json.result);
                });
            }
        }
    </script>
{% endblock %}