{% extends "base.html" %}
{% block head %}
	<title>{{funcion}} norma de trabajo</title>
{% endblock %}

{% block style %}
    <style>
        textarea {
            resize: none;
            overflow: hidden;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="col-md-8 offset-md-2">
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        <form method= "POST" autocomplete="off">
            {% csrf_token %}
            <div class="card">
                <div class="card-header">Datos de la norma de trabajo</div>
                <div class="card-body">
                    {% if form.non_field_errors %}
                        <ul class="list-group" style="margin-bottom:10px;">
                        {% for error in form.non_field_errors %}
                            <li class="list-group-item list-group-item-danger">
                                {{ error|escape }}
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="form-row">
                        <div class="col-md form-group">
                            {{ form.obra_social.errors|safe }}
                            {{ form.obra_social.label_tag }} {{ form.obra_social }}
                            {% if form.obra_social.help_text %}
                                <p class="help">{{ form.obra_social.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md form-group">
                            {{ form.codigo.errors|safe }}
                            {{ form.codigo.label_tag }} {{ form.codigo }}
                            {% if form.codigo.help_text %}
                                <p class="help">{{ form.codigo.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md form-group">
                            <label>Se puede aplicar cada:</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3 form-group">
                            {{ form.dias.errors|safe }}
                            {{ form.dias }}
                            <label>{{ form.dias.label }}</label>
                            {% if form.dias.help_text %}
                                <p class="help">{{ form.dias.help_text|safe }}</p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 form-group">
                            {{ form.meses.errors|safe }}
                            {{ form.meses }}
                            <label>{{ form.meses.label }}</label>
                            {% if form.meses.help_text %}
                                <p class="help">{{ form.meses.help_text|safe }}</p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 form-group">
                            {{ form.años.errors|safe }}
                            {{ form.años }}
                            <label>{{ form.años.label }}</label>
                            {% if form.años.help_text %}
                                <p class="help">{{ form.años.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md form-group">
                            {{ form.descripcion.errors|safe }}
                            {{ form.descripcion.label_tag }} {{ form.descripcion }}
                            {% if form.descripcion.help_text %}
                                <p class="help">{{ form.descripcion.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3 form-group" id={{form.bonos.name|add:"_container"}} style="display:none;">
                            {{ form.bonos.errors|safe }}
                            {{ form.bonos.label_tag }} {{ form.bonos }}
                            {% if form.bonos.help_text %}
                                <p class="help">{{ form.bonos.help_text|safe }}</p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 form-group" id={{form.coseguro.name|add:"_container"}} style="display:none;">
                            {{ form.coseguro.errors|safe }}
                            {{ form.coseguro.label_tag }} {{ form.coseguro }}
                            {% if form.coseguro.help_text %}
                                <p class="help">{{ form.coseguro.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    </div>
                    {% if field.name == 'bonos' or field.name == 'coseguro' %}
                        {% if field.name == 'coseguro' %} <p> {% endif %}
                        {% if form.initial and form.initial.obra_social %}
                            {% if form.initial.obra_social.usa_bonos and field.name == 'bonos' or form.initial.obra_social.usa_coseguro and field.name == 'coseguro'%}
                                <div id={{field.name|add:"_container"}} style="display:inline-block;margin-bottom:1em;margin-right:10px;">
                            {% else %}
                                <div id={{field.name|add:"_container"}} style="display:none;margin-bottom:1em;margin-right:10px;">
                            {% endif %}
                        {%else%}
                        <div id={{field.name|add:"_container"}} style="display:none;margin-bottom:1em;margin-right:10px;">
                        {%endif%}
                            {{ field.errors|safe }}
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                        {% if field.name == 'bonos' %} </p> {% endif %}
                    {% endif %}
                </div>
            </div>
            <p style="text-align:center;">
                <input type="submit" name="norma_trabajo-submit" class="btn-lila" value="Aceptar" />
            </p>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script>

        $(document).ready(function(){
            $("#id_obra_social").select2({
                tags:true,
                placeholder: 'Haga click para seleccionar',
                allowClear: true,
                language: 'es'
            });

            let obra_social = parseInt($('#id_obra_social').val());
            if (isNaN(obra_social) == false)
                cargar_obra_social();

            $('#id_obra_social').on('change',cargar_obra_social);
        });

        function cargar_obra_social(){
            let obra_social = parseInt($('#id_obra_social').val());
            if (isNaN(obra_social) == false){
                $.getJSON('/obra_social/'+ obra_social,function(result){
                    console.log(result[0].fields);
                    let obra_social_object = result[0].fields;
                    if (obra_social_object.usa_bonos)
                        $('#bonos_container').css('display', 'inline-block');
                    else
                        $('#bonos_container').hide();
                    
                    if (obra_social_object.usa_coseguro)
                        $('#coseguro_container').css('display', 'inline-block');
                    else
                        $('#coseguro_container').hide();
                });
            }
            else{
                $('#bonos_container').hide();
                $('#coseguro_container').hide();
            }
        }
    </script>
{% endblock %}