{% extends "base.html" %}
{% block head %}
	<title>{{funcion}} norma de trabajo</title>
{% endblock %}

{% block style %}
    <style>
        textarea {
            resize: none;
            overflow: hidden;
        }
    </style>
{% endblock %}

{% block content %}
    <form method= "POST">
        {% csrf_token %}
        <div class="col-md-8 offset-md-2">
            {% if form.non_field_errors %}
                <ul class="list-group" style="margin-bottom:10px;">
                {% for error in form.non_field_errors %}
                    <li class="list-group-item list-group-item-danger">
                        {{ error|escape }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            {% for field in form %}
                {% if field.name == 'dias' or field.name == 'meses' or field.name == 'años' %}
                    {% if field.name == 'dias' %}
                        <div style="display:inline-block;margin-bottom: 1em;">
                        <p>Se puede aplicar cada:</p>
                    {% endif %}
                        {{ field.errors }}
                        {{ field }}
                        <label>{{ field.label }}</label>
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    {% if field.name == 'años' %}
                        </div>
                    {% endif %}
                {% else %}
                    {% if field.name == 'bonos' or field.name == 'coseguro' %}
                        {% if field.name == 'coseguro' %} <p> {% endif %}
                        {% if form.initial and form.initial.obra_social %}
                            {% if form.initial.obra_social.usa_bonos and field.name == 'bonos' or form.initial.obra_social.usa_coseguro and field.name == 'coseguro'%}
                                <div id={{field.name|add:"_container"}} style="display:inline-block;margin-bottom:1em;margin-right:10px;">
                            {% else %}
                                <div id={{field.name|add:"_container"}} style="display:none;margin-bottom:1em;margin-right:10px;">
                            {% endif %}
                        {%else%}
                        <div id={{field.name|add:"_container"}} style="display:none;margin-bottom:1em;margin-right:10px;">
                        {%endif%}
                            {{ field.errors|safe }}
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                        {% if field.name == 'bonos' %} </p> {% endif %}
                    {% else %}
                        <p>
                            {{ field.errors|safe }}
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </p>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <p style="text-align:center;">
                <input type="submit" name="norma_trabajo-submit" class="btn-lila" value="Aceptar" />
            </p>
        </div>
    </form>
{% endblock %}

{% block script %}
    <script>
        var select_obra_social;
        var obra_social_object;
        var bonos_container;
        var coseguro_container;

        $(document).ready(function(){
            select_obra_social = $('#id_obra_social');
            bonos_container = $('#bonos_container');
            coseguro_container = $('#coseguro_container');

            $("#id_obra_social").select2({
                tags:true,
                placeholder: 'Obra social',
                allowClear: true
            });

            let obra_social = parseInt(select_obra_social.val());
            if (isNaN(obra_social) == false)
                cargar_obra_social();
            select_obra_social.change(cargar_obra_social);

        });

        var xhttp_os = new XMLHttpRequest();
        xhttp_os.onreadystatechange = function() {
                console.log('state: ' + this.status + ' readyState: ' + this.readyState + ' ' + this.responseText);
                if (this.readyState == 4 && this.status == 200) {
                    obra_social_object = JSON.parse(this.responseText)[0].fields;
                    console.log(obra_social_object);
                    if (obra_social_object.usa_bonos)
                        bonos_container.css('display', 'inline-block');
                    else
                        bonos_container.hide();
                    
                    if (obra_social_object.usa_coseguro)
                        coseguro_container.css('display', 'inline-block');
                    else
                        coseguro_container.hide();
                }
            };

        function cargar_obra_social(){
            let obra_social = parseInt(select_obra_social.val());
            console.log('cargar obra social ' + obra_social);
            if (isNaN(obra_social) == false){
                xhttp_os.open("GET", "/obra_social/"+ obra_social, true);
                xhttp_os.send();
            }
            else{
                bonos_container.hide();
                coseguro_container.hide();
            }
        }
    </script>
{% endblock %}