{% extends "base.html" %}
{% block head %}
	<title>Crear norma de trabajo</title>
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
    <form method= "POST">
        {% csrf_token %}
        <div class="col-md-6 col-md-offset-3">
            {% if form.non_field_errors %}
                <ul class="list-group" style="margin-bottom:10px;">
                {% for error in form.non_field_errors %}
                    <li class="list-group-item list-group-item-danger">
                        {{ error|escape }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            {% for field in form %}
                {% if field.name == 'dias' or field.name == 'meses' or field.name == 'años' %}
                    <div style="display:inline-block;margin: 0 0 30px 0;">
                        {{ field.errors }}
                        {{ field }}  {{ field.label }}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% else %}
                    <p>
                        {{ field.errors }}
                        {{ field.label_tag}}
                        {{ field }}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </p>
                {% endif %}
            {% endfor %}
            <p style="text-align:center;">
                <input type="submit" name="obra_social-submit" class="btn" value="Aceptar" />
            </p>
        </div>
    </form>
{% endblock %}

{% block script %}
{% endblock %}