{% extends "base.html" %}
{% block head %}
	<title>Detalle de norma de trabajo</title>
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
        <div class="col-md-6 col-md-offset-3">
            <p><b>Código:</b> {{object.codigo}}</p>
            <p><b>Descripcion:</b> {{object.descripcion}}</p>
            <p><b>Obra social:</b> {{object.obra_social}}</p>
            <p><b>Dias:</b> {{object.dias}}</p>
            <p><b>Meses:</b> {{object.meses}}</p>
            <p><b>Años:</b> {{object.años}}</p>
            <p style="text-align:center;">
                <a href="/obra_social" name="obra_social-submit" class="btn">Volver</a>
            </p>
{% endblock %}

{% block script %}
{% endblock %}