{% extends "base.html" %}
{% block head %}
	<title>{{ funcion }} {{paciente_form.instance.model_name_lower}}</title>
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
{% load staticfiles %}
<div class="col-md-8 offset-md-2">
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form method="post" autocomplete="off">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">Datos personales</div>
            <div class="card-body">
                <div class="form-row">
                    <div class="col-md form-group">
                        {{ paciente_form.nombre_apellido.errors }}
                        {{ paciente_form.nombre_apellido.label_tag }} {{ paciente_form.nombre_apellido }}
                        {% if paciente_form.nombre_apellido.help_text %}
                            <p class="help">{{ paciente_form.nombre_apellido.help_text|safe }}</p>
                        {% endif %}
                    </div>
                    <div class="col-md form-group">
                        {{ paciente_form.fecha_nacimiento.errors }}
                        {{ paciente_form.fecha_nacimiento.label_tag }} {{ paciente_form.fecha_nacimiento }}
                        {% if paciente_form.fecha_nacimiento.help_text %}
                            <p class="help">{{ paciente_form.fecha_nacimiento.help_text|safe }}</p>
                        {% endif %}
                    </div>
                    <div class="col-md form-group">
                        {{ paciente_form.dni.errors }}
                        {{ paciente_form.dni.label_tag }} {{ paciente_form.dni }}
                        {% if paciente_form.dni.help_text %}
                            <p class="help">{{ paciente_form.dni.help_text|safe }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md form-group">
                        {{ paciente_form.odontologos.errors }}
                        {{ paciente_form.odontologos.label_tag }} {{ paciente_form.odontologos }}
                        {% if paciente_form.odontologos.help_text %}
                            <p class="help">{{ paciente_form.odontologos.help_text|safe }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    {{ paciente_form.domicilio.errors }}
                    {{ paciente_form.domicilio.label_tag }} {{ paciente_form.domicilio }}
                    {% if paciente_form.domicilio.help_text %}
                        <p class="help">{{ paciente_form.domicilio.help_text|safe }}</p>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ paciente_form.whatsapp.errors }}
                    {{ paciente_form.whatsapp.label_tag }}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">+54</div>
                            </div>
                            {{ paciente_form.whatsapp }}
                    </div>
                    {% if paciente_form.whatsapp.help_text %}
                        <small class="form-text text-muted">{{ paciente_form.whatsapp.help_text|safe }}</small>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">Teléfonos</div>
            <div class="card-body">
                {{ telefono_formset.management_form }}
                {% for form in telefono_formset %}
                    <div class="telefono-formset form-row">
                        <div class="col form-group">
                            {{form.descripcion}}
                            {% if form.descripcion.errors %}
                                {% for error in form.descripcion.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col form-group">
                            {{form.telefono}}
                            {% if form.telefono.errors %}
                                {% for error in form.telefono.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div>
                            <a onclick="editarFormset($(this),'telefono-formset');" href="javascript:void(0);" class="links btn-action">
                                {% if form.initial %}
                                    <i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-left:10px;"></i>
                                {% else %}
                                    <i class="fa fa-check" aria-hidden="true" style="margin-left:10px;"></i>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                {% endfor %}
                {% if telefono_formset.non_form_errors %}
                    {% for error in telefono_formset.non_form_errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="card">
            <div class="card-header">Emails</div>
            <div class="card-body">
                {{ email_formset.management_form }}
                {% for form in email_formset %}
                    <div class="email-formset form-row">
                        <div class="col form-group">
                            {{ form.descripcion }}
                            {% if form.descripcion.errors %}
                                {% for error in form.descripcion.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col form-group">
                            {{ form.email }}
                            {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div>
                            <a onclick="editarFormset($(this),'email-formset');" href="javascript:void(0);" class="links btn-action">
                                {% if form.initial %}
                                    <i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-left:10px;"></i>
                                {% else %}
                                    <i class="fa fa-check" aria-hidden="true" style="margin-left:10px;"></i>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                {% endfor %}
                {% if email_formset.non_form_errors %}
                    {% for error in email_formset.non_form_errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="card">
            <div class="card-header">Obras sociales</div>
            <div class="card-body">
                {{ obras_sociales_formset.management_form }}
                {% for os_form in obras_sociales_formset %}
                    <div class="obras-sociales-formset form-row">
                        <div class="col form-group">
                            {{ os_form.obra_social }}
                            {% if os_form.obra_social.errors %}
                                {% for error in os_form.obra_social.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col form-group">
                            {{ os_form.nro_afiliado }}
                            {% if os_form.nro_afiliado.errors %}
                                {% for error in os_form.nro_afiliado.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col form-group">
                            {{ os_form.plan }}
                            {% if os_form.plan.errors %}
                                {% for error in os_form.plan.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {% if paciente_planes_formset.non_form_errors %}
                    {% for error in paciente_planes_formset.non_form_errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <p style="text-align:center;margin-top:10px;">
            <input type="submit" name="paciente-submit" class="btn-lila" value="Aceptar" />
        </p>
    </form>
</div>
{% endblock %}

{% block script %}
     <!-- Include formset plugin - including jQuery dependency -->
    <!--script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script-->
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <!--script src="{% static 'path_to/jquery.formset.js' %}"></script-->
    <script>
        $(document).ready(() => {
            $("#id_odontologos").select2({
                placeholder: 'Haga click para seleccionar',
                allowClear: true,
                language: 'es',
            });

            $('.telefono-formset').formset({
                addText: '<button class="btn-add"><i class="fa fa-plus"></i> Agregar</button>',
                deleteText: '<i class="fa fa-trash" style="margin-left:10px";></i>',
                prefix: '{{ telefono_formset.prefix }}',
                deleteCssClass: 'links btn-action delete-link',
                formCssClass: 'form-telefono',
            });

            $('.email-formset').formset({
                addText: '<button class="btn-add"><i class="fa fa-plus"></i> Agregar</button>',
                deleteText: '<i class="fa fa-trash" style="margin-left:10px";></i>',
                prefix: "{{ email_formset.prefix }}",
                deleteCssClass: 'links btn-action delete-link',
            });
            
            $('.obras-sociales-formset').formset({
                addText: '<button class="btn-add"><i class="fa fa-plus"></i> Agregar</button>',
                deleteText: '<button class="btn-delete"><i class="fa fa-remove"></i></button>',
                prefix: "{{ obras_sociales_formset.prefix }}",
                added:NuevaObraSocial
            });
        });

        function editarFormset(link, cssClass){
            let parent = link.parents('.'+cssClass);

            parent.find('input').each(function(){
                $(this).prop('readonly', !$(this).prop('readonly'));
            });

            let i = link.find('i');
            if (i.attr('class') == 'fa fa-pencil-square-o'){
                i.attr('class','fa fa-check');
                let id = parent.find('input:first').attr('id');
                focus(id);
            }
            else
                i.attr('class','fa fa-pencil-square-o');
        }

        NuevaObraSocial = ()=>{
            console.log('agregar obra social');
        }

        /*
        $(".select_obra_social").select2({
            tags:true,
            placeholder: 'Obra social',
            allowClear: true
        });
        */
        
        var xhttp_plan = new XMLHttpRequest();
        var xhttp_os = new XMLHttpRequest();

        function seleccionarObraSocial(control){
            let id = control.val();
            
            let counter = 0;
            $('.select_obra_social').each(function(){
                if (id == $(this).val())
                    counter++;
            });

            if(counter > 1 && isNaN(id) == false && id != ''){
                alert('La obra social ya fue seleccionada');
                control.val('');
            }
            else{
                if (isNaN(id) == false && id != ''){
                    xhttp_os.onreadystatechange = callbackObraSocial(control);
                    xhttp_os.open("GET", "/obra_social/" + id, true);
                    xhttp_os.send();
                }
            }
            if (isNaN(id) == true || id == ''){
                let select_plan = control.parent().parent().find('.select_plan');
                removeOptions(select_plan);
                select_plan.style.display = 'none';
            }
        }

        function callbackObraSocial(select_os){
            return function() {
                let id = select_os.val();
                if (this.readyState == 4 && this.status == 200) {
                    console.log(this.responseText);
                    var arr = JSON.parse(this.responseText);

                    let usa_planes = arr[0].fields.usa_planes;
                    console.log(usa_planes);

                    let select_plan = select_os.parent().parent().find('.select_plan');
                    if (usa_planes == true){
                        xhttp_plan.onreadystatechange = createCallback(select_plan);
                        xhttp_plan.open("GET", "/plan/get_for_select?obra_social=" + id, true);
                        xhttp_plan.send();
                    }
                    else
                    {
                        removeOptions(select_plan);
                        select_plan.hide();
                    }
                }
            }
        }

        function createCallback(select){
            console.log('callback creado para: ' + select.attr('id'));
            return function() {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(this.responseText);
                    removeOptions(select);
                    
                    select.append('<option selected="selected" value="">Seleccionar Plan</option>');
                    var arr = JSON.parse(this.responseText);
                    if (arr.length > 0)
                        select.css('display','inline-block');
                    for (i in arr) { 
                        select.append('<option value="'+arr[i].id+'">'+arr[i].descrip+'</option>');
                    }
                }
            }
        }

        function removeOptions(selectbox){
            selectbox.empty();
            return;
            var i;
            for(i = selectbox.options.length - 1 ; i >= 0 ; i--)
            {
                selectbox.remove(i);
            }
        }
    </script>
{% endblock %}