[client]
'ENGINE': 'django.db.backends.mysql',
'NAME': 'Nightrain$odonto_db',
'USER': 'Nightrain',
'PASSWORD': 'emirua575902',
'HOST': 'Nightrain.mysql.pythonanywhere-services.com',
'PORT': '',
'OPTIONS': {
    'sql_mode': 'traditional',
    },
default-character-set = utf8